/**Custom Fonts**/
@font-face {
  font-family: JosefinSansRegular;
  src: url(./fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: LatoLight;
  src: url(./fonts/Lato-Light.ttf);
}
/**End Custom Fonts**/

/** color scheme defined as css properties **/
:root {
  --darker: #20828D;
  --dark: #76B0BA;
  --light: #A2C8CC;
  --lighter: #CCE0E1;
}
/** End color scheme defined as css properties **/

body {
  background-color: var(--dark);
  font-family: "LatoLight", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

h1 {
  font-family: "JosefinSansRegular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 45px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

#main-container {
  max-width: 1300px;
  margin: auto;
  padding: 100px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls {
  padding: 12px;
  background-color: var(--darker);
  line-height: 1.5;
}

#controls-global {
  margin-top: 50px;
}

.item-grow {
  flex-grow: 1;
}

.label {
  padding: 10px;
  width: 149px;
  font-size: 16px;
}

.text .item {
  max-width: 500px;
}

.button {
  height: 56px;
  width: 56px;
  background: var(--lighter);
  cursor: pointer;
  cursor: hand;
}

.button .icon {
  background-size: 36px 36px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 29px;
  position: absolute;
}

.button .icon-play {
  background-image: url(./images/icons/power.svg);
  background-size: 30px 30px;
  margin-left: -2px;
}
.button .icon-pause {
  background-image: url(./images/icons/power-clicked.svg);
  background-size: 30px 30px;
  margin-left: -2px;
}

.Synth {
  min-width: 261px;
}

/* the styles below are used to dynamically 
set the oscilloscope canvas style in js*/
#oscilloscope-container {
  margin-bottom: -6px;
  --fill-color: var(--light);
  --stroke-color: black;
}

/* Small Screens */
@media all and (max-width: 600px) {
  .label {
    width: 92px;
  }
  #main-container {
    padding: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  #controls-global {
    margin-top: 20px;
  }
  .button {
    height: 52px;
    width: 52px;
  }
}
/* End Small Screens */
